<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>formulario de upload</h1>

<form method="post" enctype="multipart/form-data" action="/upload">
    <label for="file">escolhar seu arquivo</label>
    <input id="btn" type="file" name="file">
    <button type="submit" value="upload">upload</button>
</form>

<style>
    body {
    background-color: rgb(164, 165, 163);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
form{
    width: 300px;
    height: 200px;
    border: 1px solid #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}
form #btn{
    width: 100%;
    height: 30px;
    background-color: #cacaca;
    margin-top: 20px;
    margin-bottom: 20px;
}

</style>
    
</body>
</html>


